%html
  %head
    %meta(name="viewport" content="width=500;")
    %link(href="stylesheet.css" rel="stylesheet" type="text/css")
    %script(type="text/javascript" src="flot/jquery.min.js")
    %script(type="text/javascript" src="flot/jquery.flot.min.js")
    %script(type="text/javascript" src="remote.js")
  %body
    .main
      =yield