%html
  %head
    %meta(name="viewport" content="width=500;")
    %link(href="stylesheet.css" rel="stylesheet" type="text/css")
    %link(href="css/overcast/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css")
    %script(type="text/javascript" src="js/jquery-1.4.2.min.js")
    %script(type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js")
    %script(type="text/javascript" src="flot/jquery.flot.min.js")
    %script(type="text/javascript" src="remote.js")
  %body
    .main
      =yield