.main
  background: #eee
  width: 30em
  margin-left: auto
  margin-right: auto
  margin-top: 5em
  padding: 1em
  font-family: Verdana, Arial, Sans
  
ul
  list-style-type: none
  
input
  width: 20px